
@{
    ViewData["Title"] = "Be the first to register";
}

<!-- Portfolio Section Heading-->
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">@ViewBag.Title</h2>
<!-- Icon Divider-->
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
</div>

<p>Be the first to register and win a special prize.</p>

<a asp-action="Register" class="btn btn-primary">Register</a>
<a asp-action="Index" class="btn btn-secondary">Home</a>

